@use "../../../../styles.scss" as styles;

.add_product_dialog img {
  width: 150px;
  height: 150px;
  margin-block: 8px;
  border-radius: 4px;
  margin-inline: auto;
}

.add_product_submit {
  @include styles.submitButton2();
  background-repeat: no-repeat;
  border: none;
  padding: 4px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.add_product_submit:hover {
  transition: 0.2s linear;
  color: styles.$fourth-color;
  cursor: pointer;
}

.large {
  font-size: 48px;
}
.small {
  font-size: 20px;
}
.medium {
  font-size: 25px;
}
#modal_item_count {
  transform: translateY(32px);
}
